body {
    font-family: 'Cairo' , sans-serif;
}
.container-fluid {
    position: relative;
}

/* Navbar*/
nav> ul> li {
    line-height: 1;
}
nav ul:last-child img {
    height: 30px;
    width: 30px;
}
#id-pic {
    display: inline-block;
    height: 70px;
    width: 70px;
    border-radius: 50px;
}

/* Content */
h3 {
    font-size: 2em;
    font-weight: 500;
    margin-top: 150px;
}
.presentation {
    width: 700px;
    margin-top: 50px;
}
#contact img {
    height: 30px;
    width: 30px;
}