@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i');

.animate-top, 
.animate-bottom, 
.animate-left, 
.animate-right, 
.animate-fade, 
.animate-zoom,
.column-icon,
.column-half-image-left,
.column-half-image-right,
.heading-strip h4,
.heading-strip h3,
.heading-strip i,
.heading-strip p,
.heading-line-1,
.heading-line-2,
.heading-block h4,
.heading-block p,
.heading-text i,
.center-socials a,
.footer-socials,
.footer-logo,
.footer p,
.heading-block .button{
    visibility: hidden;
    transition:inherit;
}

.page-fade{ 
    opacity:0;
    transition:all 500ms ease;
    transition-delay:100ms;
}

.page-show{
    opacity:1;
    transition:all 500ms ease;
}

#page-content{
    z-index:5;
}


/*Header*/

#header{
    position:fixed;
    z-index:9999;
    top:0px!important;
    left:0px!important;
    right:0px!important;
    width:100%!important;
    height:60px;
    background-color:#000000;
}


.page-logo{
    width:200px;
    height:57px;
    background-image:url(../images/main-logo.html);
    background-size:100px 13px;
    background-repeat:no-repeat;
    background-position: center;
    left:50%;
    margin-left:-100px;
}


/*Swiper*/

.home-fader .swiper-wrapper{
    height:auto!important;
}


.swiper-container {
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    z-index: 1;
}

.swiper-container2 {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.swiper-slide {
    background-position: center;s
    background-size: cover;
    width: 300px;
    height: 300px;
}

/*Homepage*/

.homepage-title h4{
    font-size:18px;
    font-weight:700;
    padding-top:10px;
    padding-bottom:10px;
}

.content-center-buttons a{
    width:135px;
    float:left;
}

.content-center-buttons{
    width:290px;
    margin:0 auto;
}

.home-slider h4{
    width:100%;
    padding-top:30px;
    padding-bottom:40px;
    position:absolute;
    bottom:15px;
    background: linear-gradient( to bottom,
      rgba(0, 0, 0, 0.01),
      rgba(0, 0, 0, 0.2),
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.6),
      rgba(0, 0, 0, 0.7),
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9),
      rgba(0, 0, 0, 0.9)
    );
    color:#FFFFFF;
    padding-left:20px;
    padding-right:20px;
    font-size:18px;
    font-weight:500;
    line-height:30px;
}

.home-slider p{
    font-size:13px;
    position:absolute;
    bottom:0px;
    z-index:999;
    color:#FFFFFF;
    opacity:0.5;
    padding-left:20px;
    padding-right:20px;
    display:block;
    width:100%;
}

.home-round-slider{padding-top:10px;}
.home-round-slider img{
    border-radius:200px;
    margin-left:auto;
    margin-right:auto;
}

.home-img-1{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    left:50%;
    margin-left:-170px!important;
    opacity:0.7;
}

.home-img-2{
    width:200px;
    height:200px;
    position:relative;
    z-index:1;
    -webkit-box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 3px rgba(0,0,0,0.5);
}

.home-img-3{
    position:absolute;
    width:150px;
    height:150px;
    top:25px;
    right:50%;
    margin-right:-170px!important;
    opacity:0.7;
}

.home-round-slider h3{text-align:center; padding-top:20px;}
.home-round-slider em{display:block; font-style: normal; text-align:center;}
.center-socials{width:160px; margin-left:auto; margin-right:auto;}

/*Home Columns*/

.column-home-left i{
    font-size:46px;
    position:absolute;
    height:60px;
    margin-top:5px;
    width:40px;
    text-align:center;
}

.column-home-left em{
    font-style:normal;
    font-size:18px;
    position:absolute;
    height:40px;
    margin-top:7px;
    line-height:40px;
    border-radius:40px;
    width:40px;
    text-align:center;
}

.column-home-left h5{
    padding-left:60px;
}

.column-home-left h4{
    padding-left:60px;
}

.column-home-left p{
    padding-left:60px;
}

.column-home-center i{
    font-size:46px;
    height:60px;
    margin-top:5px;
    width:100%;
    display:block;
    text-align:center;
}

.column-home-center h5{
    text-align:center;
    font-size:18px;
    padding-bottom:10px;
}

.column-home-center p{
    text-align:center;
}

/*Footer*/

.footer{padding:30px 0px 30px 0px; margin-bottom:-30px;}
.footer-bottom{padding-bottom:30px!important;}
.footer-dark{background-color:#0c1117;}
.footer-light{background-color:#ecf0f1; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}
.footer-light{background-color:#ecf0f1; border-top:solid 1px #e0e0e0; border-bottom:solid 1px #e0e0e0;}
.footer-light i{color:#1f1f1f;}
.footer-light p{color:#666666;}
.footer-light .decoration{background-color:rgba(0,0,0,0.1)!important;}

.footer-dark .decoration{
    background-color:rgba(255,255,255,0.05);
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
}

.footer .footer-logo{
    background-image:url(../images/logo-light.png);
    background-repeat:no-repeat;
    background-size:100px 25px;
    width:100px;
    height:25px;
    margin-bottom:15px;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}

.copyright-text{margin-bottom:0px; margin-top:-10px; margin-bottom:0px;}

.footer p{
    max-width:290px;
    margin-left:auto;
    margin-right:auto;
    text-align:center;
}

.footer-socials{
    width:210px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:30px;
}

.footer-socials .icon-ghost{background-color:transparent!important;}

.footer-socials a{
    margin-left:2px!important;
    margin-right:2px!important;
}

/*Landing 1*/

.bg-white{background-color:#FFFFFF!important;}
.landing-light{background-color:#FFFFFF;}
.landing-light .landing-header-1 .landing-logo{background-image:url(../images/logo.png);}
.landing-light .landing-header-2 .landing-logo{background-image:url(../images/logo.png);}
.landing-light .landing-header-1 .landing-icon{color:#1f1f1f;}
.landing-light .landing-content-1 i{border:solid 1px #cacaca; color:#1f1f1f;}
.landing-light .landing-content-1 em{color:#000000;}
.landing-light .landing-content-1 i:hover{background-color:#000000; color:#FFFFFF;}
.landing-light .decoration{background-color:rgba(0,0,0,0.1)!important;}
.landing-light .landing-footer-1 p{color:#666666;}
.landing-light .landing-footer-1 a{color:#000000;}
.landing-light .landing-header-2 .socials a{color:#1f1f1f; border:solid 1px rgba(0,0,0,0.2);}
.landing-light .landing-content-2 a{color:#000000;}
.landing-light .landing-content-2 a:hover{background-color:#000000; color:#FFFFFF;}
.landing-light .landing-content-2{border-bottom:solid 1px rgba(0,0,0,0.1);}
.landing-light .landing-content-2 a{border:solid 1px rgba(0,0,0,0.1);}
.landing-light .landing-content-2 a:nth-child(3n+1){border-right:solid 1px rgba(255,255,255,0); border-bottom:none;}
.landing-light .landing-content-2 a:nth-child(3n+3){border-left:solid 1px rgba(255,255,255,0); border-bottom:none;}
.landing-light .landing-content-2 a:nth-child(3n+2){border-bottom:none;}

.landing-dark{background-color:#000000!important;}
.landing-dark .landing-header-1 .landing-logo{background-image:url(../images/logo-light.png);}
.landing-dark .landing-header-2 .landing-logo{background-image:url(../images/logo-light.png);}
.landing-dark .landing-header-1 .landing-icon{color:#FFFFFF;}
.landing-dark .landing-content-1 i{border:solid 2px rgba(255,255,255,0.3); color:#FFFFFF;}
.landing-dark .landing-content-1 em{color:#FFFFFF;}
.landing-dark .landing-content-1 i:hover{background-color:#FFFFFF; color:#000000; }
.landing-dark .landing-footer-1 p{color:#666666;}
.landing-dark .landing-footer-1 a{color:#FFFFFF;}
.landing-dark .decoration{background-color:rgba(255,255,255,0.2)!important;}
.landing-dark .landing-header-2 .socials a{color:#ffffff; border:solid 1px rgba(255,255,255,0.2);}
.landing-dark .landing-header-2 em{color:#cacaca;}
.landing-dark .landing-content-2 a{color:#FFFFFF;}
.landing-dark .landing-content-2 a:hover{background-color:#FFFFFF; color:#000000;}
.landing-dark .landing-content-2{border-bottom:solid 1px rgba(255,255,255,0.2);}
.landing-dark .landing-content-2 a{border:solid 1px rgba(255,255,255,0.2);}
.landing-dark .landing-content-2 a:nth-child(3n+1){border-right:solid 1px rgba(255,255,255,0); border-bottom:none;}
.landing-dark .landing-content-2 a:nth-child(3n+3){border-left:solid 1px rgba(255,255,255,0); border-bottom:none;}
.landing-dark .landing-content-2 a:nth-child(3n+2){border-bottom:none;}

.landing-header{
    padding:20px;
}

.landing-content{
    padding:0px 20px 0px 20px;
    margin-top:-10px;
}

.landing-content-2{
    padding:0px!important;
    margin-top:0px;
}

.landing-footer{
    padding:0px 20px 20px 20px;
}

.landing-header-1 .landing-logo{
    background-size:80px 20px;
    width:80px;
    height:20px;
    margin-top:4px
}

.landing-header-1 .socials{
    position:absolute;
    top:0px;
    right:0px;
}

.landing-header-1 .landing-icon{
    position:absolute;
    top:19px;
    width:30px;
    height:30px;
    line-height:29px;
    text-align:center;
}


.landing-header-1 .landing-icon-1{right:95px;}
.landing-header-1 .landing-icon-2{right:57px;}
.landing-header-1 .landing-icon-3{right:20px;}

.landing-content-1 a{
    width:30%;
    float:left;
}

.landing-content-1 a:nth-child(3n+2){
    margin-left:5%;
    margin-right:5%;
}

.landing-content-1 i:hover{
    transition:all 350ms ease;
}

.landing-content-1 .ion-iphone{
    font-size:32px;
}

@media(max-width:325px){
    .landing-content-1 i{
        display:block;
        width:60px;
        height:60px;
        line-height:58px;
        text-align:center;
        font-size:21px;
        border-radius:80px;
        margin:0 auto;
        transition:all 350ms ease;
    }
    
    .landing-content-1 em{
        margin-bottom:10px!important   
    }
    
    .landing-footer-1 a{
        width:30px;
        height:30px;
        float:left;
        line-height:30px;
        margin-left:9px;
        margin-right:9px;
        text-align:center;
        color:#1f1f1f;
        font-size:12px;
        margin-bottom:-5px;
        margin-top:-10px;
    }

    .landing-footer-1 a i{
        width:30px;
        height:30px; 
        display:block;
    }

}

@media(min-width:325px){
    .landing-content-1 i{
        display:block;
        width:80px;
        height:80px;
        line-height:78px;
        text-align:center;
        font-size:25px;
        border-radius:80px;
        margin:0 auto;
        transition:all 350ms ease;
    }
    
    .landing-footer-1 a{
        width:40px;
        height:40px;
        float:left;
        line-height:40px;
        margin-left:5px;
        margin-right:5px;
        text-align:center;
        color:#1f1f1f;
        font-size:16px;
    }

    .landing-footer-1 a i{
        width:40px;
        height:40px; 
        display:block;
    }
}

.landing-content-1 em{
    display:block;
    font-size:14px;
    text-align:center;
    font-style:normal;
    margin-bottom:20px;
}

.landing-footer-1{
    margin-top:-5px;
}

.landing-icons{
    width:150px;
    margin-left:auto;
    margin-right:auto;
}

.landing-footer-1 p{
    text-align:center;
    font-size:12px;
    margin-top:10px;
    margin-bottom:0px!important;
}

.sizer{
    position:absolute;
    width:320px;
    height:460px;
    background-color:rgba(0,0,0,0.1);
    z-index:99999;
}

/*Landing Content 2*/

.landing-header-2 .landing-logo{
    background-size:100px 25px;
    width:100px;
    height:25px;
    margin-top:4px;
    margin-left:auto;
    margin-right:auto;
}

.landing-header-2 em{
    display:block;
    text-align:center;
    font-size:12px;
    font-style:normal;
}

.landing-header-2 .socials a{
    width:35px;
    height:35px;
    float:left;
    line-height:35px;
    text-align:center;
    margin-left:5px;
    margin-right:5px;
    margin-top:10px;
}

.landing-header-2 .socials{
    width:135px;
    margin-left:auto;
    margin-right:auto;
}

.landing-content-2 i{
    font-size:32px;
    text-align:center;
    display:block;
}

.landing-content-2 em{
    position:absolute;
    width:100%;
    text-align:center;
    padding-top:30px;
    font-style:normal;
    font-size:12px;
    bottom:20px!important;
    line-height:0px!important;
    height:10px!important;
}

::-webkit-scrollbar { 
    display: none; 
}

.landing-content-background i{
    color:#FFFFFF!important;
}

.landing-overlay-light{
    background-color:rgba(255,255,255,0.85);
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:3;
}

.landing-overlay-dark{
    background-color:rgba(0,0,0,0.85);
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    z-index:3;
}

.landing-background{
    background-color:transparent!important;
    z-index:2;
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    bottom:0px;
    background-size:cover;
}

/*Header*/

.header.header-light{background-color:#FFFFFF; border-bottom:solid 1px rgba(0,0,0,0.1);}
.header.header-light .header-logo{background-image:url(../images/logo.png);}
.header.header-light .line-1,
.header.header-light .line-2,
.header.header-light .line-3{background-color:#1f1f1f;}
.header.header-light .deploy-home{color:#000000; border-right:solid 1px rgba(0,0,0,0.05);}

.header.header-dark{background-color:#0c1117; border-bottom:solid 1px rgba(255,255,255,0.1);}
.header.header-dark .header-logo{background-image:url(../images/logo-light.png);}
.header.header-dark .line-1,
.header.header-dark .line-2,
.header.header-dark .line-3{background-color:#FFFFFF;}
.header.header-dark .deploy-home{color:#FFFFFF; border-right:solid 1px rgba(255,255,255,0.1);}



.header-logo{
    background-repeat:no-repeat;
    width:80px;
    height:60px;
    margin-left:20px;
    background-size:80px 20px;
    background-position:center
}

.header{
    height:60px;
}

.header .deploy-home{
    width:60px;
    height:50px;
    line-height:50px;
    text-align:center;
    font-size:17px;
    position:absolute;
    top:0px;
    right:60px;
    margin-top:5px;
}

.header .deploy-menu{
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    font-size:21px;
    position:absolute;
    top:0px;
    right:0px
}

.deploy-menu em{
    transform-origin: 7px;
}

.line-1{
    position:absolute;
    width:14px;
    height:1px;
    margin-top:25px;
    left:50%;
    margin-left:-8px;
    transition:all 500ms ease;
}

.line-2{
    position:absolute;
    width:14px;
    height:1px;
    margin-top:29px;
    left:50%;
    margin-left:-8px;
    transition:all 500ms ease;
}

.line-3{
    position:absolute;
    width:14px;
    height:1px;
    margin-top:33px;
    left:50%;
    margin-left:-8px;
    transition:all 500ms ease;
}

.active-line-1{
    transform:rotate(45deg) translateY(3px) translateX(3px);
    background-color:#c0392b!important;
    transition:all 500ms ease;
}

.active-line-2{
    opacity:0;   
    background-color:#c0392b!important;
    transition:all 500ms ease;
}

.active-line-3{
    transform:rotate(-45deg) translateY(-3px) translateX(3px);
    background-color:#c0392b!important;
    transition:all 500ms ease;
}


/*Menu*/

.header{
    position:fixed;
    top:0px;
    left:0px;
    right:0px;
    z-index:999999;
}

.header-menu i:first-child{
    width:50px;
    height:55px;
    line-height:55px;
    left:0px;
    display:inline-block;
    text-align:center;
    color:#1f1f1f;
    font-size:22px;
    position:absolute;
}

.header-menu .ion-ios-plus-empty{
    font-size:18px!important;
    transition:all 300ms ease;
}

.active-item{
    font-weight:600!important;
    background-color:rgba(0,0,0,0.03);
}

.active-item .ion-record:last-child{
    color:#27ae60!important;
    font-size:7px;
    line-height:56px;
}

.rotate-plus{
    transform:rotate(45deg);
    color:#e74c3c!important;
}

.header-menu-light.header-menu a{color:#1f1f1f; transition:all 500ms ease;}
.header-menu-light.header-menu a:hover{background-color:rgba(0,0,0,0.05);}
.header-menu-light.header-menu{background-color:#FFFFFF; border-top:solid 1px rgba(0,0,0,0.1); border-bottom:solid 1px rgba(0,0,0,0.1);}

.header-menu-dark.header-menu a{color:#FFFFFF; transition:all 500ms ease;}
.header-menu-dark.header-menu a i{color:#FFFFFF;}
.header-menu-dark.header-menu a:hover{background-color:rgba(255,255,255,0.05);}
.header-menu-dark.header-menu{background-color:#0c1117; border-top:solid 1px rgba(255,255,255,0.1); border-bottom:solid 1px rgba(255,255,255,0.1);}


.header-menu a{
    line-height:55px;
    padding-left:50px;
}

.header-menu a i:last-child{
    position:absolute;
    right:0px;
    height:55px;
    width:60px;
    text-align:center;
    font-size:5px;
}

.header-menu{
    position:fixed;
    z-index:9999;
    left:0px;
    right:0px;
    width:100%;
    top:60px;
    overflow:scroll;
    overflow-x:hidden;
    -webkit-overflow-scrolling: touch; /* lets it scroll lazy */
    -webkit-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -moz-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -o-transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    transition: all 500ms cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -moz-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    -o-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); 
    transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000); /* easeOutCubic */
    -o-transform: translateY(-5000px);
    -ms-transform: translateY(-5000px);
    -webkit-transform: translateY(-5000px);
    transform: translateY(-5000px);
}

@media(min-width:700px){
    .header-menu{
        width:300px!important;
        right:0px!important;
        left:auto;
        border:solid 1px rgba(0,0,0,0.1);
    }
}

.header-menu .ion-iphone{
    font-size:25px!important;
}

.header-menu .submenu a{
    height:45px!important;
    line-height:45px!important;
    padding-left:78px;
    font-size:12px;
}

.header-menu .submenu a i:first-child{
    padding-left:50px;
    font-size:15px;
}

.submenu{
    height:0px;
    overflow:hidden;
    transition:all 400ms ease;
}

.header-menu .submenu a i{
    height:45px!important;
    line-height:47px!important;
}





















